@import '../../styles/globals.scss';

.NotFound404__container{
    position: absolute;
    background: $headerBackColor;
    color: $headerTextColor;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg{
        font-size: 3em;
    }
}