@import "../../shared/styles/globals.scss";

.Header__container {
  background-color: $headerBackColor;
  color: $headerTextColor;
  padding: 0.3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 1s ease-in-out;
  height: 3.8em;
}

@media screen and (max-width: 805px) {
  .Header__container {
    grid-template-columns: 1fr 1fr;
  }
}