@import "../../../styles/globals.scss";

.Card__container {
  width: 100%;
  height: auto;
  display: grid;
  border: 1px solid $headerTextColor;
  color: $headerTextColor;
  background: $headerBackColor;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Card__container:hover {
  box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.3),
    3px -4px 5px rgba(0, 0, 0, 0.1) inset, -6px 4px 7px rgba(0, 0, 0, 0.3);
}

.Card__title {
  height: 1.5em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.Card__image {
  width: 100%;
  height: 10em;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 120% 103%;
}

.Card__description {
  display: inline-block;
  text-align: center;
  p {
    max-width: 10em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}
