.Welcome__container {
  width: 100%;
  height: calc(100% - 2.6em);
  display: flex;
  flex-direction: column;

  h1{
    margin: 1em 0;
  }
  overflow: auto;
  padding: 1em;
}

.Welcome__introduction {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.Welcome__logo {
  text-align: center;
  align-self: center;
  max-width: 36em;
  margin: 0 auto;
  img {
    width: 18em;
  }
}

.Welcome__cards {
  padding: 0 5em;
  margin-top: 2em;
}
