@import "../../shared/styles/globals.scss";

.MainContainer__container {
  background-color: $mainBackColor;
  color: $mainTextColor;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
