@import '../../../styles/globals.scss';

$width: 12px;
$height: $width;
$color: $headerTextColor;
$bounce-height: 40px;
$bounce-width: 3; // float, suggested 0-3
$bounce-duration: 0.6s;
$shadow-strength: 0.08;

.PageLoader__loader {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: $width + $height;
  position: absolute;
  animation: bounce $bounce-duration linear infinite, move $bounce-duration * 6 linear infinite $bounce-duration / 2.5;
}

.PageLoader__shadow {
  width: $width / 2;
  height: 0;
  margin-left: ($width / 4);
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 ($width / 10) 1px rgba(0,0,0,$shadow-strength);
  border-radius: $width $height;
  position: absolute;
  animation: move $bounce-duration * 6 linear infinite $bounce-duration / 2.5;
}

@keyframes bounce {
  0% {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: $bounce-height;
    animation-timing-function: ease-in;
  }
  100% {
    bottom: 0;
  }
}

@keyframes move {
  0% {
    transform: translateX($width * $bounce-width * -1);
  }
  16.666% {
    transform: translateX($width * $bounce-width * -0.3333);
  }
  33.3333% {
    transform: translateX($width * $bounce-width * 0.3333);
  }
  50% {
    transform: translateX($width * $bounce-width * 1);
  }
  66.6666% {
    transform: translateX($width * $bounce-width * 0.3333);
  }
  83.333% {
    transform: translateX($width * $bounce-width * -0.3333);
  }
  100% {
    transform: translateX($width * $bounce-width * -1);
  }
}

.PageLoader__loader-container {
  bottom: 50%;
  left: 50%;
  position: absolute;
}

.PageLoader__container{
  background-color: #5CDB95;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.PageLoader__logo-container{
  margin-top: 5em;
}