@import "../../../styles/globals.scss";

.WelcomeCard__container {
  cursor: pointer;
  border: 1px solid $secondaryBackColor;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;

  svg {
    font-size: 5em;
  }
}

.WelcomeCard__container:hover {
  box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.3),
    -3px -1px 5px rgba(0, 0, 0, 0.1) inset, -5px 4px 12px rgba(0, 0, 0, 0.3);
}
