@import '../../../shared/styles/globals.scss';

.MainContainerCompWrapper__container{
    width: 100%;
    height: calc(100% - 16em);
    border: 1px solid $headerBackColor;
    padding: 0 1em;
    overflow: scroll;
}