@import "../../../../shared/styles/globals.scss";

.SideBarCalendar__container {
  height: 100%;
  width: 100%;
  overflow: scroll;

  .ant-fullcalendar-header{
    display: none;
  }
}

.SideBarCalendar__title{
  text-align: center;
}