.SideBarAvatar__container {
  height: 100%;
}

.SideBarAvatar__button {
  svg {
    cursor: pointer;
    position: absolute;
    left: 18.6em;
    top: 0.3em;
  }
}

.SideBarAvatar__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;

  img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
  }
}

.SideBarAvatar__data {
  text-align: center;
}

.SideBarAvatar__avatar-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
