@import '../../styles/globals.scss';

.NoAccess__container{
    position: absolute;
    width: 100%;
    height: 100%;
    background: $headerBackColor;
    color: $headerTextColor;
    display: flex;
    justify-content: center;
    align-items: center;
}