// Green1
// $mainBackColor: #248232;
// $mainTextColor: #040F0F;
// $secondaryBackColor: #2BA84A;
// $secondaryTextColor: #2D3A3A;
// $headerBackColor: #040F0F;
// $headerTextColor: #FCFFFC;

// Green2
// $mainBackColor: #248232;
// $mainTextColor: #FCFFFC;
// $secondaryBackColor: #2BA84A;
// $secondaryTextColor: #2D3A3A;
// $headerBackColor: #040F0F;
// $headerTextColor: #FCFFFC;

// Green3
// $mainBackColor: #FCFFFC;
// $mainTextColor: #040F0F;
// $secondaryBackColor: #2BA84A;
// $secondaryTextColor: #2D3A3A;
// $headerBackColor: #2D3A3A;
// $headerTextColor: #2BA84A;

// Green4
$mainBackColor: #EDF5E1;
$mainTextColor: #05386B;
$secondaryBackColor: #5CDB95;
$secondaryTextColor: #EDF5E1;
$headerBackColor: #5CDB95;
$headerTextColor: #05386B;