.HeaderLogRegister__container{
    align-self: center;
    justify-self: right;
    
    .HeaderLogRegister__button{
        margin-left: 0.3em;
    }
}

.HeaderLogRegister__modal-buttons{
    margin-top: 1em;
}