@import "../../../../shared/styles/globals.scss";

.SideBar__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border-right: 1px solid $headerBackColor;
}

.SideBar__avatar-component,
.SideBar__activity-component,
.SideBar__calendar-component {
  border: 1px solid $headerBackColor;
}

.SideBar__avatar-component {
  height: 15em;
}
.SideBar__activity-component {
  height: 20.9em;
}
.SideBar__calendar-component {
  height: 100%;
}
