.SideBarActivity__container {
  height: 100%;
  overflow: hidden;
}

.SideBarActivity__title {
  text-align: center;
}

.SideBarActivity__activity-list {
  height: calc(100% - 1em);
  overflow: scroll;
}
