@import "../../../shared/styles/globals.scss";

.HeaderNavBar__container {
  width: 24em;
  display: flex;
  justify-content: space-between;
  align-self: center;
  justify-self: center;

  a {
    color: $headerTextColor;
    text-decoration: none;
  }

  a.chosen,
  a:hover {
    // border-bottom: 1px solid $headerTextColor;
    font-weight: bold;
  }
}

.HeaderNavBar__nav {
  border-right: 1px solid $headerTextColor;
  border-left: 1px solid $headerTextColor;
  padding: 0 0.4em;
}

.HeaderNavBar__nav-left {
  border-right: 1px solid $headerTextColor;
  padding: 0 0.4em;
}

.HeaderNavBar__nav-right {
  border-left: 1px solid $headerTextColor;
  padding: 0 0.4em;
}

@media screen and (max-width: 805px) {
  .HeaderNavBar__container {
    display: none;
  }
}
