.HeaderLogo__container{
    align-self: center;
    justify-self: left;
    display: flex;
    align-items: center;
    img{
        background-color: #EDF5E1;
        border-radius: 1em;
        width: 6em;
        cursor: pointer;
        margin: 0 auto;
    }
}