@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto:300&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

div,
p,
small,
ul,
li {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 0em !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  background: rgb(92, 219, 149);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(92, 219, 149);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
