@import '../../../../../shared/styles/globals.scss';

.SideBarActivityItem__container{
    border-bottom: 1px solid $secondaryBackColor;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.SideBarActivityItem__container:hover{
    background: $secondaryBackColor;
    color: $secondaryTextColor;
}

.SideBarActivityItem__top, .SideBarActivityItem__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}