.HeaderAvatar__container{
  align-self: center;
  justify-self: right;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HeaderAvatar__avatar {
  width: 2.6em;
  height: 2.6em;
  border-radius: 50%;
  background-position: 100%;
  background-repeat: no-repeat;
  margin-left: 0.7em;
}
